<ejs-accordion width="500px" expandMode='Single'>
  <e-accordionitems >
    <e-accordionitem header='Tree View'>
      <ng-template #content>
        <ejs-treeview [fields]='field' ></ejs-treeview>
      </ng-template>
  </e-accordionitem>
</e-accordionitems >
</ejs-accordion>
<!-- <ejs-accordion width="500px">
  <e-accordionitems >
    <e-accordionitem header='Margeret Peacock'>
      <ng-template #content>
        <div class='container'>
          <img src='https://ej2.syncfusion.com/angular/demos/assets/treegrid/images/MargaretPeacock.png' />
          <div class='content'>
              <b>Margeret Peacock</b> was born on Saturday , 01 December 1990. Now lives at Coventry House Miner Rd., London,UK. Margeret Peacock holds a position of <b>Sales Coordinator</b> in our WA department, (Seattle USA). Joined our company on Saturday , 01 May 2010.
          </div>
      </div>
      </ng-template>
  </e-accordionitem>
   
    <e-accordionitem header='Laura Callahan'>
      <ng-template #content>
        <div class='container'>
          <img src='https://ej2.syncfusion.com/angular/demos/assets/treegrid/images/LauraCallahan.png'/>
          <div class='content'><b>Laura Callahan</b> was born on Tuesday , 06 November 1990. Now lives at Edgeham Hollow Winchester Way, London,UK. Laura Callahan holds a position of <b>Sales Coordinator</b> in our WA department, (Seattle USA). Joined our company on Saturday , 01 May 2010.
          </div>
      </div>
      </ng-template>
     </e-accordionitem>
    <e-accordionitem header ='Albert Dodsworth'>
      <ng-template #content>
        <div class='container'>
          <img src='https://ej2.syncfusion.com/angular/demos/assets/treegrid/images/AndrewFuller.png'/>
          <div class='content'> <b>Albert Dodsworth</b> was born on Thursday , 19 October 1989. Now lives at 4726 - 11th Ave. N.E., Seattle,USA.Albert Dodsworth holds a position of <b>Sales Representative</b> in our WA department, (Seattle USA). Joined our company on Friday , 01 May 2009.
          </div>
      </div>
      </ng-template>
    </e-accordionitem>
  </e-accordionitems>
</ejs-accordion> -->
